{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block start %}
{% load static %}
<section class="position-relative py-6">
    <img class="bg-image" src='{% static "images/singapore1.jpg" %}' alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white rounded-lg shadow p-5">
                    <strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Manage Smarter, Rent Faster...</strong>
                    <h2 class="mb-3">Empowering Smarter Property Management</h2>
                    <p class="text-muted">
                        Welcome to DuLoft Property Manager, your comprehensive solution for modern property management.
                    </p>
                    <p class="text-muted">
                        Tired of chasing after tenants and dealing with maintenance headaches?<br>We take the weight off your shoulders with professional
                        property management software that gets results.
                    </p>
                    <p class="text-muted">
                        Free Property Management Software Trial.
                    </p>
                    <a class="btn btn-link" href="https://app.duloft.com/user/login" target="_blank">Get Early Access!<i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position-relative pad-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white rounded-lg shadow" style="margin-bottom: 50px;">
                    <div class="col">
                        <h3 class="mb-3 pt-5 text-center">Features</h3>
                    </div>
                    <div class="side text-center">
                        <p>
                            Enjoy Your Property Management with Our Easy, affordable and User-Friendly Software! Keep track of everything that happens in your properties all in one  place. Say goodbye to stress and paperwork, say hello to simplicity.
                        </p>
                    </div>
                    <!-- <div class="col col-side-image">
                        <img class="side-image" src='{% static "images/whyChooseUs.png" %}' alt="Why Choose Us" style="width: 100%; height: auto;">
                    </div> -->
                    <div class="vessel">
                        <div class="col-md-6">
                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Rent Collection:</strong>
                                <p>Simplify the rent collection process with our secure and convenient payment system. Accept payments online, set up recurring payments, and track payment history to reduce administrative burden and improve cash flow.</p>
                            </div>
                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Accounting:</strong>
                                <p>Effortlessly manage your finances with our comprehensive accounting tools. Track income, expenses, and generate financial reports to ensure your property’s profitability and compliance.</p>
                            </div>
                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Rent Savings/Wallet:</strong>
                                <p>Help your tenants manage their finances better with our rent savings and wallet feature. Tenants can save towards their rent, budget their expenses, and view their savings progress all in one place.</p>
                            </div>
                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Maintenance Management:</strong>
                                <p>Stay on top of maintenance and repairs with our repair tracking feature. Log repair requests, schedule maintenance tasks, and monitor the status of repairs to ensure issues are resolved promptly and efficiently, keeping your property in top condition.</p>
                            </div>

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Visitor Management:</strong>
                                <p>Enhance security and improve visitor experience with our visitor management system. Pre-register guests, track visitor entries and exits, and maintain a secure environment for your residents.</p>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Dashboards:</strong>
                                <p>Stay on top of your operations with our dashboards. Visualize key metrics and data in real-time to make informed decisions quickly and efficiently.</p>
                            </div>

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Team Management:</strong>
                                <p>Streamline team collaboration and management. Assign tasks, monitor progress, and communicate effectively with your team to ensure smooth property operations and enhanced productivity.</p>
                            </div>

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Marketing:</strong>
                                <p>Attract and retain tenants with our robust marketing tools. Create and manage listings, promote special offers, and analyze campaign performance to optimize your marketing strategies.</p>
                            </div>

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Forum:</strong>
                                <p>Foster community engagement with our built-in forum feature. Property owners, managers, and residents can communicate, share updates, and discuss important topics in a structured, easy-to-navigate platform.</p>
                            </div>

                            <div class="row-md-6">
                                <i class="fas fa-check-circle"></i>
                                <strong> Notifications:</strong>
                                <p>Keep everyone informed with automated notifications. Whether it’s payment reminders, maintenance updates, or important announcements, our notification system ensures timely and effective communication.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
{% endblock %}
