{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block start %}
{% load static %}
<section class="position-relative py-6">
    <img class="bg-image" src='{% static "images/japan1.jpg" %}' alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white rounded-lg shadow p-5">
                    <strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Bringing Comfort Close</strong>
                    <h2 class="mb-3">The Right Way To Rent</h2>
                    <p class="text-muted">
                        Finding a place to call home or listing a property for rent or sale is a universal challenge.
                    </p>
                    <p class="text-muted">
                      Begin a journey with Duloft and discover the future of rental living.  
                      We invite you to experience the ease, efficiency, and excellence that our prop-tech platform brings to the world of property management.
                      Together, let's redefine the way we live and thrive in rental spaces. Welcome to Duloft.
                    </p>
                    <a class="btn btn-link" href="{% url 'join_waitlist' %}">Get Early Access!<i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position-relative pad-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white rounded-lg shadow p-5">
                    <div class="vessel">
                        <div class="col">
                            <h3 class="mb-3">About Us</h3>
                            <p class="text-muted">
                              At Duloft, we're more than just a prop-tech company; we're your dedicated ally in navigating the dynamic landscape of the rental space.
                              <br>
                              Our mission is to revolutionize the rental space by seamlessly integrating technology with real estate.
                              <br>
                              Duloft is a team of passionate professionals committed to reshaping the rental experience. With a blend of industry expertise and technological innovation,
                              we bring you a prop-tech platform that simplifies property management, enhances transparency, and elevates the overall rental journey.
                            </p>
                        </div>
                        <div class="col">
                            <img class="side-image" src='{% static "images/singapore1.jpg" %}' alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position-relative pad-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white rounded-lg shadow p-5">
                    <div class="vessel">
                        <div class="col">
                            <img class="side-image" src='{% static "images/whyChooseUs.png" %}' alt="">
                        </div>
                        <div class="col">
                          <h3 class="mb-3">Why Choose Us</h3>
                          <p class="text-muted">
                            <b>Transparency and Trust:</b>
                            We are committed to providing our clients with complete transparency, fostering trust between landlords, tenants, and DuLoft.
                            <br><b>Streamlined Processes:</b>
                            We are committed to simplifying and automating the rental process, making it easy for landlords and tenants alike.
                            <br><b>Cost-Effective Solutions:</b>
                            We are committed to delivering cost-effective solutions that maximize returns for landlords and provide value for tenants.
                            <br><b>Data Security:</b>
                            We are committed to ensuring the highest standards of data security to protect the interests of both landlords and tenants.
                          </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6">
    <div class="container">
        <div class="row mb-5">
            <!-- blog item-->
            {% for blog in blogs %}
            <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
                <div class="card shadow border-0 h-100">
                    <a href="{% url 'blog_detail' blog.slug %}">
                        <img class="img-fluid card-img-top" src={{blog.image.url}} alt="duloft img"/>
                    </a>
                    <div class="card-body">
                        <h6 class="my-2"><a class="text-dark" href="{% url 'blog_detail' blog.slug %}">
                            {{blog.title}}</a></h6>
                        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>
                            {{blog.created_at}}</p>
                        <p class="my-2 text-muted text-sm">
                            {{blog.content|safe | truncatewords_html:50}}
                        </p>
                        <a class="btn btn-link pl-0" href="{% url 'blog_detail' blog.slug %}">Read more<i
                                class="fa fa-long-arrow-alt-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Footer-->
{% endblock %}
